.projects__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 24px;
  gap: 25px; /* Espaçamento entre os cards */
}

.projects__card {
  /* Adicione estilos específicos para o card se necessário */
}
