.segment {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;

  border-radius: 4px;
  background: var(--md-sys-color-secondary-container);
}

.segment:hover {
  border-radius: 12px;
  transition: all 200ms cubic-bezier(0.2, 0, 0, 1);
  transform: scale(1);
}


.segment.selected {
  border-radius: 24px;
  background: var(--md-sys-color-secondary);
}

.state-layer {
  display: flex;
  flex: 1 0 0;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

/* Hover e focus nativos */
.state-layer:hover {
  background: var(--md-state-layers-light-on-secondary-container-opacity-10);
}

.state-layer.small {
  gap: 4px;
}

.stete-layer.medium {
  gap: 8px;
}

.stete-layer.large {
  gap: 12px;
}

.stete-layer.large {
  gap: 16px;
}

.label {
  color: var(--M3-sys-light-on-secondary-container, #4A4459));

  /* M3/label/large */
  font-family: var(--Static-Label-Large-Font, Roboto);
  font-size: var(--Static-Label-Large-Size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Static-Label-Large-Line-Height, 20px); /* 142.857% */
  letter-spacing: var(--Static-Label-Large-Tracking, 0.1px);
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--md-sys-color-on-secondary-container);
}

.icon svg {
  width: 100%;
  height: 100%;
}

/* Estados do botão */

.state-disabled {
  background: var(--md-state-layers-light-on-surface-opacity-10);
  cursor: not-allowed;
}

/* Size classes for icon */
.icon.xsmall {
  width: 16.67px;
  height: 16.67px;
}

.icon.small {
  width: 18px;
  height: 18px;
}

.icon.medium {
  width: 20px;
  height: 20px;
}

.icon.large {
  width: 24px;
  height: 24px;
}

.icon.xlarge {
  width: 28px;
  height: 28px;
}

/* Size classes for label */
.label.xsmall {
  font-size: 11px;
  line-height: 16px;
}

.label.small {
  font-size: 12px;
  line-height: 18px;
}

.label.medium {
  font-size: 14px;
  line-height: 20px;
}

.label.large {
  font-size: 16px;
  line-height: 24px;
}

.label.xlarge {
  font-size: 18px;
  line-height: 26px;
}

/* Selected styling */
.selected {
  fill: white;
  color: white;
}
