.content-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.carbon-container {
    flex: 1 1 0%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow: visible;
}

.carbon-component {
    display: block;
    margin-top: 112px;
    color: var(--md-sys-color-on-background, inherit);
}

article {
    display: block;
}

@media screen and (min-width: 1294px) {
    .carbon-container {
        margin-left: 116px;
    }
}
