.nav-item {
  display: flex;
  width: 104px;
  padding: 6px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;

  background: none;
  border: none;
}

.nav-item--selected {
}

.nav-item__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  overflow: hidden;
}

.nav-item__state-layer {
  display: flex;
  width: 56px;
  height: 32px;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.nav-item:hover .nav-item__state-layer {
  background: var(--md-state-layers-light-on-surface-opacity-0.08);
}

.nav-item__state-layer:focus {
  background: var(--md-state-layers-light-on-secondary-container-opacity-0.12);
}

.nav-item--selected .nav-item__state-layer {
  background: var(--md-state-layers-light-on-surface-opacity-0.10);
}

.nav-item--selected .nav-item__icon {
  font-variation-settings: 'FILL' 1;
}

.nav-item__icon {
  font-size: 24px;
  color: var(--md-sys-color-on-surface-variant);
}

.nav-item__label {
  color: var(--md-sys-color-on-surface-variant);
  text-align: center;

  /* M3/label/medium */
  font-family: var(--Static-Label-Medium-Font, Roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.5px;
}

.nav-item:hover .nav-item__label {
  font-weight: 600;
}

/* Styles for disabled state */
.nav-item:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Prevent hover effects when disabled */
.nav-item:disabled:hover .nav-item__state-layer {
  background: none;
}

.nav-item:disabled .nav-item__label {
   color: var(--md-sys-color-on-surface-variant);
}
