.container {
    display: flex;
    margin: 0;
    padding: 56px;
    border-radius: 24px;
    background: var(--mio-theme-color-surface-1);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
}