.collaborate-section {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--Corner-Large-increased, 20px);
  background: var(--Schemes-Secondary-Container, #E0E6C3);
}

.collaborate-section__services {
  display: flex;
  height: 293px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.collaborate-section__service {
  display: flex;
  width: 199px;
  height: 293px;
  max-width: 199px;
  max-height: 293px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;

  border-radius: var(--Corner-Medium, 12px);
  background: var(--Schemes-Primary-Container, #D9EB99);
}

.collaborate-section__company-logos {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.collaborate-section__company-logo {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
