.experience-section {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
  gap: 20px;
  border-radius: 20px;
}

.experience-section__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  height: 100%;
  padding: 30px;
  justify-content: space-between;
}

.experience-section__companies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}
