.experience-section {
  grid-area: experience;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

.experience-grid {
  display: flex;
  height: 100%;
  padding: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.experience-companies {
  display: flex;
  padding: 30px;

  justify-content: space-between;
  align-items: center;

}
