.hero-section {
  /* Layout */
  grid-area: hero-section;
  display: grid;
  padding: 32px;
  justify-content: space-between;
  flex: 1 0 0;

  /* Style */
  border-radius: var(--Corner-Large-increased, 20px);
  background: var(--Schemes-Surface-Container, #EFEEE2);
}


