.heroSection {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--Corner-Large-increased, 20px);
  background: var(--Schemes-Surface-Container, #EFEEE2);
}

.hero-intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; /* Allow the intro section to take up available space */
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Space between heading and paragraph */
}

.hero-text h3 {
  font-size: 1.5em; /* Example styling */
  color: var(--M3-sys-light-on-surface, #1D1B20); /* Example color */
}

.hero-text h1 {
  font-size: 2.5em; /* Example styling */
  color: var(--M3-sys-light-on-surface, #1D1B20); /* Example color */
}

.hero-image {
  /* Styling for the image container */
  width: 300px; /* Example width */
  height: 400px; /* Example height */
  background-color: #ccc; /* Placeholder background */
  /* object-fit: cover; */
  /* border-radius: 8px; */
}

.social-links {
  display: flex;
  flex-direction: column; /* Or row, depending on desired layout */
  gap: 8px; /* Space between social icons */
  align-items: center;
}

.secondarySection {
  /* Add styling for the secondary section */
  padding: 32px;
  /* background-color: #f0f0f0; Example background */
  /* Add layout styles */
}

.main_content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}
