.projects_carousel {
  grid-area: carousel;
}

.slides_container {
  display: grid;
  height: 100%;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

/* Layout when first item is active */
.slides_container.first_active {
  grid-template-columns: 6fr 1fr;
}

/* Layout when middle item is active */
.slides_container.middle_active {
  grid-template-columns: 1fr 5fr 1fr;
}

/* Layout when last item is active */
.slides_container.last_active {
  grid-template-columns: 1fr 6fr;
}

/* Responsiveness */
@media (max-width: 768px) {
  .projects_carousel {
    padding: 20px;
    height: 400px;
  }
}
