.project-carousel {
  height: 100%;
}

.project-carousel__slides-container {
  display: grid;
  height: 100%;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

/* Layout when first item is active */
.project-carousel__slides-container--first-active {
  grid-template-columns: 6fr 1fr;
}

/* Layout when middle item is active */
.project-carousel__slides-container--middle-active {
  grid-template-columns: 1fr 5fr 1fr;
}

/* Layout when last item is active */
.project-carousel__slides-container--last-active {
  grid-template-columns: 1fr 6fr;
}

/* Responsiveness */
@media (max-width: 768px) {
  .project-carousel {
    padding: 20px;
    height: 400px;
  }
}
