.service-item__icon {
  width: 32px;
  height: 32px;

  fill: var(--Schemes-On-Primary-Container, #171E00);
}

.service-item__title {
  align-self: stretch;

  color: var(--Schemes-On-Primary-Container, #171E00);
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.5px;
}

.service-item__description {
  align-self: stretch;

  color: var(--Schemes-On-Primary-Container, #171E00);
  text-align: center;

  /* M3/body/medium-emphasized */
  font-family: var(--Static-Body-Medium-Font, Roboto);
  font-size: var(--Static-Body-Medium-Size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Static-Body-Medium-Line-Height, 20px); /* 142.857% */
  letter-spacing: var(--Static-Body-Medium-Tracking, 0.25px);
}
